@model WebAppCore.Models.BlogPostModels.BlogPostCreateModel
@using(Html.BeginForm("AddBlogPost", "BlogPosts", FormMethod.Post))
{
    
    <div>
        <p>Введите тему </p>
        <p>
            @Html.ValidationMessage("Title")
        </p>
        <p><input type="text" name="Title" /> </p>
        <p>Введите контент</p>
        <p>
            @Html.ValidationMessage("Content")
        </p>
            <p><textarea name="Content" class="custom-content-input" >

</textarea> </p>
        <p><input type="submit" value="Отправить" /> </p>
    </div>
}