@page
@model bool

@{
    ViewBag.Title = "Blog posts";
}

<h2>title</h2>

<h2>
    @if (Model)
    {
         <b>
        Успішно видалено
        </b>
    }
    else
    {
        <b>
            Пост був не видаланий
        </b>
    }
</h2>

<h3>Model.Content</h3>
<table></table>
