@using WorkWithDB.Standard.Entity.Entities
@model WorkWithDB.Standard.Entity.Entities.BlogPost

@{
    ViewBag.Title = Model?.Title;
}

<h2>Редактирование поста «@Model?.Title»</h2>
<div class="blog-post-editor-raw">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model=>model.Id)
        
        <p>
            @Html.EditorFor(m=>m.Title)
        </p>
        <p>
            @Html.EditorFor(m=>m.Content)
        </p>
        <p>
            <label for="UserId">Author</label>
            <select asp-for="UserId" 
                    asp-items="@(new SelectList(ViewBag.Users,"Id","Nick"))">
                <option>Please select one</option>
            </select>
            

        </p>
        
        <input type="submit" value="Сохранить" />
    }
</div>